@import url("https://fonts.googleapis.com/css?family=Helvetica+Neue:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backgroundcolor: rgb(235, 235, 235);
  --blue: rgb(20, 133, 240);
}

body {
  background-color: var(--backgroundcolor);
  /* font-family: "Helvetica Neue", sans-serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
}

footer {
  background-color: whitesmoke;
  padding: 2rem 10rem;
  color: grey;
  font-size: 12px;
}

footer .lang {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}

footer .lang a,
footer .lang p {
  margin-right: 0.6rem;
}

footer .langMos,
footer .link2,
footer .langMos div {
  display: flex;
  margin-right: 0.5rem;
}

footer button img {
  height: 1.4rem;
  margin-right: 1rem;
}

footer a {
  text-decoration: none;
  color: gray;
  font-weight: 200;
}

footer hr {
  margin: 1rem 0;
}

footer div:first-child button {
  width: 2rem;
  height: 1.4rem;
  align-items: center;
  justify-content: center;
  padding-left: 0.3rem;
  cursor: pointer;
  border: 1px solid grey;
}

footer div:first-child a:hover,
footer div:last-child a:hover {
  text-decoration: underline grey;
}

footer .langMos div:nth-child(2) button {
  display: none;
}
